[build]
  base = "/"
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"

# Redirect all traffic to index.html to handle client-side routing
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200